<!DOCTYPE html>
<head>
</head>
<body>
<form action="/login" method="post" name="login-form">
    <h1>Please Log In</h1>
    <input type="text" name="username" placeholder="User Name"/>
    </br></br>
    <input type="password" name="passwd" placeholder="Enter Password"/>
    <br>
    <button name="login" value="login" type="Submit">Login</button>
</form>
</body>
